h3{
    background-color: green;
}

.game-area{
    width: 100%;
    text-align: center;
}

.black-cover{
    background-color: black;
    display: inline-block;
}

img{
    /*질문 이미지*/
    position: absolute;
    filter: brightness(0);
    display: block;
}

.answer-area{
    display: inline-block;
}

.answer-box{
    float: left;
    border: 5px solid tomato;
    border-radius: 13px;
    padding: 10px;
    margin: 10px;
}

.answer-box:hover{
    box-shadow: 0px 2px 10px 2px grey;
}

.start{
    border-radius: 13px;
    width: 100%;
    font-size: 50px;
    padding: 9px;
}